.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: rgb(192 192 192);
}

.frameStyle {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 480px;
  background-color: #bdbdbd;
  border-color: white #7b7b7b #7b7b7b white;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
  background-color: #bdbdbd;
}

.cellStyle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: white #7b7b7b #7b7b7b white;
  border-width: 6px;
}

.outerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: #6c6c6c;
  border-width: 5px;
}

.bombStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.outerCellStyle_trash {
  box-sizing: border-box;
  display: flex;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: white #7b7b7b #7b7b7b white;
  border-width: 6px;
}

.outerCellStyle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: white #7b7b7b #7b7b7b white;
  border-width: 6px;
}
